target/
.serverless/
.nrepl-port/
out/
.nrepl-history/
.DS_Store/
**/resources/public/js/
main.js
.dirac/
.shadow-cljs/
.cpcache/
node_modules/
.expo/
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.iml
.npmrc
**/yarn-error.log
secrets.edn
.code/
cljs-runtime/
temp/
apps/contentful/serverless/contentful.js
.lsp/
.clj-kondo/
.serverless/*.js

clj/**/pom.xml
clj/**/pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.lsp/
clj/data/
clj/target/
java/data/
java/target/
java/.classpath
java/.project
.settings/
.vscode/
*.~undo-tree~
.DS_Store
/data/
/resources/public/js/
/.shadow-cljs/
